.poke-page {
  align-items: center;
  background-color: silver;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120vh;
  width: 100%;
}

.images-container {
  border: 1px solid green;
}

.pokepage-types {
  border: 1px solid black;
}

.formatted-type {
  text-align: center;
  text-transform: uppercase;
}

.weak-against{
  border: 1px solid purple;
}

.opponent-type {
  text-align: center;
  text-transform: uppercase;
}

.suggested-pokemon {
  border: 1px solid gold;
}

.sprite {
  height: 100px;
  width: auto;
}
