.poke-page {
  align-items: center;
  background-color: silver;
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: center;
  width: 100%;
}

.inner-page {
  align-items: center;
  background-color: white;
  border: 10px ridge #efc415;
  box-shadow: 0px 6px 12px 8px black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 88vh;
  width: 500px;
}

.images-container {
}

.sprite {
  background-color: gold;
  border-radius: 50px;
  box-shadow: 1px 1px 7px blue;
  height: 100px;
  margin: 0 3px;
  width: auto;
}

.pokepage-types {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pokepage-h1 {
  color: #0c1ba0;
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-shadow: 0px 2px 10px grey;
  text-transform: capitalize;
}
.organizational-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formatted-type {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  text-transform: uppercase;
}

.weak-against{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-around;
  width: 494px;
}

.weak-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 110px;
  word-wrap: break-word;
  justify-content: center;
  width: 495px;
}

.opponent-type {
  font-size: 16px;
  font-weight: bold;
  margin: 0 3px;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  text-transform: uppercase;
}

.opponents-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.suggested-pokemon {
  border: 4px double gold;
  box-shadow: 0px 2px 5px 3px black;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  height: 200px;
  overflow-x: scroll;
  width: 250px;
}

.opponent-name {
  margin-top: 4px;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  text-transform: uppercase;
}
