header {
  align-items: center;
  background-color: gold;
  border-bottom: 2px inset black;
  box-sizing: border-box;
  display: flex;
  height: 7vh;
  justify-content: center;
  width: 100%;
}

.pokemon-name {
  text-transform: capitalize;
}

span {
  text-transform: lowercase;
}
