header {
  align-items: center;
  background-color: gold;
  border-bottom: 2px inset black;
  box-sizing: border-box;
  display: flex;
  height: 7vh;
  justify-content: center;
  width: 100%;
}

.nav-container {
  align-items:center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.home {
  background-color: #C9B03A;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  width: 100px;
}

.home:hover {
  background-color: #856B30;
  color: white;
}

.pokemon-name {
  text-transform: capitalize;
}

span {
  text-transform: lowercase;
}
