main {
  background-color: grey;
  height: 100vh;
  width: 100%;
}

.sections-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}

.main-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 40%;
}

.main-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 60%;
}

.all-pokemon {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-x: scroll;
}

.pokemon-listing {
  display: block;
}
