main {
  height: 130vh;
  width: 100%;
}

.sections-container {
  align-items: center;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120vh;
  width: 100%;
}

.main-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  width: 100%;
}

.main-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

.list-title {
  font-size: 36px;
  text-align: center;
}

.all-pokemon {
  align-items: center;
  border: 2px ridge red;
  box-shadow: 0px 0px 6px 4px black;
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-x: scroll;
}

.pokemon-listing {
  display: block;
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
}

.pokemon-listing:hover {
  color: blue;
}
