.search-container {
  align-items: center;
  background-color: #6f7574;
  border: 2px ridge red;
  box-shadow: 0px 0px 6px 4px black;
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: center;
  width: 370px;
}

.search-prompt {
  color: white;
  font-size: 36px;
  margin: 0;
  text-shadow: 3px 4px 1px black;
}

#pokefoe-input {
  color: black;
  font-size: 15px;
  height: 16px;
  text-align: center;
}

label {
  color: white;
  font-size: 18px;
  margin-bottom: 7px;
  text-shadow: 2px 3px 1px black;
}

.search-btn {
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  margin: 15px 0;
  width: 80px;
}

.search-btn:hover {
  background-color: #8C7B29;
  color: white;
}

.error {
  color: #ea2323;
  font-weight: bolder;
  text-shadow: 0px 4px 6px black;
}
